/* Font import */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

/* Var for font type and font weight */
:root {
    --font-main: 'Nunito Sans', sans-serif;
    --font-weight-body: 400;
    --font-weight-heading: 600;
    
}

/* Font family and font weight for the whole app with *{} */
* {
    font-family: var(--font-main);
    font-weight: var(--font-weight-body);
}