/* Navbar links basic style*/
.navbar-dark .navbar-nav .custom-nav-link {
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.5px;
  transition: all 0.3s ease;
  color: var(--bs-light);
}

/* Inactive links style*/
.navbar-dark .navbar-nav .custom-nav-link:hover {
  color: var(--bs-navbar-hover-color);
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 2px;
}

/*Active links style W/ react rooter Navlink */
.navbar-dark .navbar-nav .custom-nav-link.active {
  color: var(--bs-primary);
  text-decoration: underline;
  text-decoration-color: var(--bs-primary);
  text-underline-offset: 4px;
  text-decoration-thickness: 2px;
  font-weight: 800;
}

/* Hover on active links */
.navbar-dark .navbar-nav .custom-nav-link.active:hover {
  color: #0056b3;
}

/*Responsive tablette*/
@media (min-width: 769px) and (max-width: 992px) {
  .navbar-dark .navbar-nav .custom-nav-link {
    font-size: 0.85rem;
  }
}

/*Responsive mobile*/
@media (max-width: 768px) {
  .navbar-dark .navbar-nav .custom-nav-link {
    padding: 0.75rem 0;
    margin: 0.25rem 0;
  }

  .navbar-dark .navbar-nav .custom-nav-link.active {
    border-left: 3px solid var(--bs-primary);
    padding-left: 1rem;
  }
}
